@font-face {
	src: url('../fonts/GothaProReg.eot');
	src: local('☺'), url('../fonts/GothaProReg.woff') format('woff'), url('../fonts/GothaProReg.ttf') format('truetype'), url('../fonts/GothaProReg.svg') format('svg');
	font-family: 'Gotham Pro';
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

.wrap {
  max-width: 1030px;
  margin: 0 auto;
}

/* header start */

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 29px;
	padding-top: 31px;
}

.nav-left {
	display: flex;
	align-items: center;
}

.logo {
	width: 55px;
	height: 55px;
	background: url(../img/logo.png) no-repeat;
	background-size: cover;
	margin-right: 45px;
}

/* burger line */

.menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right; /*
	padding: 28px 20px;*/
	position: relative;
	user-select: none;
}

.navicon {
	margin-right: -12px;
	background: #000;
	display: block;
	height: 9px;
	position: relative;
	transition: background .2s ease-out;
	width: 3.8em;
	z-index: 999999;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
	background: #000;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.menu-icon .navicon:before {
	top: 18px;
}

.menu-icon .navicon:after {
	bottom: 0;
}

.menu-btn {
	display: none;
}

.menu-btn:checked ~ .nav {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	z-index: 100;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.menu-btn:checked ~ .nav .nav__link {
	font-size: 30px;
	line-height: 35px;
	margin: 0 0 24px 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}
.menu-btn:checked ~ .logo {
	opacity: 0;
}

.menu-icon {
	display: none;
}

/* burger end */

.header__item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;
}

.header__link {
	font-family: 'Gotham Pro';
	font-size: 12px;
	line-height: 11px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	list-style: none;
	margin-right: 35px;
}

.header__link:last-child {
	margin-right: 0;
}

.nav-right {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.nav-right__search-form {
	margin-right: 35px;
}

.nav-right__info {
	width: 178px;
	height: 10px;
	position:relative;
}

.nav-right__field {
	width: 178px;
	border: 0;
	border-bottom: 1px solid #000000;
	outline: none;
}

.nav-right__submit {
	height: 20px;
	width: 20px;
	background: url(../img/search.png) no-repeat;
	position: absolute;
	left: 90%;
	top: -3%;
}

.header__basket {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header__link_cart {
	margin-right: 4px;
}

.header__number {
	font-family: 'Gotham Pro';
	font-size: 10px;
	line-height: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15px;
	height: 15px;
	color: #fff;
	background-color: #000;
	border-radius: 20px;
	margin-right: 35px;
}
.header__lang {
	width: 20px;
	height: 20px;
	background: url(../img/united-states.png) no-repeat;
	border: none;
}

/* header end */

/* section1 start */

.section1 {
	height: 280px;
	background: url(../img/sec1.png);
	margin-bottom: 53px;
}

.section1__title {
	font-family: 'Gotham Pro';
	font-size: 30px;
	line-height: 29px;
	text-transform: uppercase;
	color: #fff;
	max-width: 195px;
	padding: 89px 0 13px 60px;
}

.section1__shop {
	display: inline-block;
	font-family: 'Gotham Pro';
	font-size: 12px;
	line-height: 11px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	padding-left: 60px;
	padding-right: 55px;
	background: url(../img/Arrow.png) no-repeat 95% center;
	transition: .3s all;
}

.section1__shop:focus, .section1__shop:hover {
	background: url(../img/Arrow.png) no-repeat right center;
}

/* section1 end */

/* section2 start */

.section2 {
	margin-bottom: 26px;
}
.section2__title {
	font-family: 'Gotham Pro';
	font-size: 22px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #000;
}

.section2__cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.section2__card {
	max-width: 266px;
	background-image: url(../img/Vector.png);
	background-repeat: no-repeat;
	background-position: left 37%;

}

.section2__card:first-child {
	background: none;
}

.section2__pic {
	max-width: 188px;
	height: 173px;
	display: flex;
	justify-content: center;
	padding-top: 7%;
	padding-left: 9%;
	padding-bottom: 27px;
}

.section2__text {
	font-family: 'Gotham Pro';
	font-size: 12px;
	line-height: 11px;
	color: #000;
	margin-bottom: 9px;
	padding-left: 5%;
}

.section2__choice {
	display: flex;
	justify-content: space-between;
	padding-left: 6%;
}

.section2__money {
	font-family: 'Gotham Pro';
	font-size: 14px;
	line-height: 13px;
	color: #000;
}


/* section2 end */

/* section3 start */

.section3 {
	height: 494px;
	background-color: #000;
	display: flex;
	justify-content: space-around;
	margin-bottom: 80px;
}

.section3__view {
	display: flex;
	justify-content: center;
	align-items: center;
}
.section3__video {
	width: 97%;
}

.section3__info {
	max-width: 320px;
	padding-right: 2%;
	display: flex;
  flex-direction: column;
  justify-content: center;
}

.section3__title {
	font-family: 'Gotham Pro';
	font-size: 22px;
	line-height: 27px;
	text-transform: uppercase;
	color: #FFFFFF;
	max-width: 265px;
	margin-bottom: 14px;
}

.section3__text {
	font-family: Gotham Pro;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	max-width: 266px;
	margin-bottom: 17px;
}

.section3__more {
	display: inline-block;
	max-width: 92px;
	font-family: 'Gotham Pro';
	font-size: 12px;
	line-height: 11px;
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
	padding-right: 55px;
	background: url(../img/Arrow.png) no-repeat 95% center;
	transition: .3s all;
}

.section3__more:focus, .section3__more:hover {
	background: url(../img/Arrow.png) no-repeat right center;
}

/* section3 end */

/* section4 start */

.section4 {
	margin-bottom: 79px;
}

.section4__title {
	font-family: 'Gotham Pro';
	font-size: 22px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 40px;
}

.section4__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 54px;
}

.section4__card-pic {
	margin-bottom: 29px;
}

.section4__card-title {
	font-family: 'Gotham Pro';
	font-size: 18px;
	line-height: 17px;
	color: #000;
	margin-bottom: 8px;
}

.section4__card-text {
	font-family: 'Gotham Pro';
	font-size: 14px;
	line-height: 17px;
	color: #000;
	margin-bottom: 18px;
}

.section4__story {
	display: flex;
	justify-content: space-between;
}

.section4__more {
	display: inline-block;
	font-family: 'Gotham Pro';
	font-size: 12px;
	line-height: 11px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	padding-right: 55px;
	background: url(../img/Arrow-black.png) no-repeat 95% center;
	transition: .3s all;
}

.section4__more:focus, .section4__more:hover {
	background: url(../img/Arrow-black.png) no-repeat right center;
}

.section4__date {
	font-family: 'Gotham Pro';
	font-size: 12px;
	line-height: 11px;
	text-transform: uppercase;
	color: #000;
	opacity: .3;
}

/* section4 end */

/* section5 start */

.section5 {
	margin-bottom: 80px;
}

.section5__title {
	font-family: 'Gotham Pro';
	font-size: 18px;
	line-height: 17px;
	text-transform: uppercase;
	color: #000;
	opacity: 0.3;
	text-align: right;
}

.section5__cards{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.section5__img_hidden {
	display: none;
}

/* section5 end */

/* footer start */

.footer {
	height: 296px;
	background: #000;
	position: relative;
}

.footer__cards {
	display: grid;
	grid-template-columns: minmax(100px, 180px) minmax(100px, 180px) minmax(100px, 180px) minmax(100px, 180px);
	grid-column-gap: 28px;
	max-width: 67%;
	margin: 0 auto;
	padding-top: 4%;;
}

.footer__menu{
}

.footer__card-title {
	font-family: 'Gotham Pro';
	font-size: 12px;
	line-height: 11px;
	color: #fff;
	margin-bottom: 4px;
}

.footer__menu-item {
	margin-bottom: 6px;
}

.footer__card-link {
	font-family: 'Gotham Pro';
	font-size: 12px;
	line-height: 11px;
	color: #fff;
	text-decoration: none;
}

.footer__card-btn {
	font-family: 'Gotham Pro';
	font-size: 10px;
	line-height: 10px;
	color: #fff;
	width: 78%;
	height: 3em;
	background: #000;
	border: 1.5px solid #FFF;
	margin-top: 6px;
}

.footer__socials {
	width: 78%;
	padding-top: 30%;
	display: flex;
	justify-content: space-between;
}

.footer__commercial {
	font-family: 'Gotham Pro';
	font-size: 12px;
	line-height: 11px;
	color: #fff;
	position: absolute;
	right: 42%;
	bottom: 33px;
}

/* footer end */

/* media start */

@media all and (max-width: 768px) {

	.logo {
		width: 156px;
		height: 34px;
		background: url(../img/logo-1.png) no-repeat;
		background-size: cover;
		margin-right: 0;
	}

  .header .menu-icon {
    display: block;
  }

  .header__list, .nav-right {
    display: none;
  }

}

/* media end */
